{% extends 'base.html' %}


{% block start %}
<div class="container m-5 p-5" enctype='multipart/form-data'>
    <form method="POST" enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
                <label>Enter Blog Title</label>
                <input type="text" class="form-control" placeholder="Enter title" name="title" ></input>
                
            </div>

            <div class="col-md-12">
                {{form.media}}
                {{form.as_p}}

                
            </div>

            <div class="col-md-12">
                
                <input type="file" name="image"></input>
                
            </div>

            <div class="col-md-12">
                
                <button type="submit" class="btn btn-primary mt-3"> Create blog</button>
                
            </div>
        </div>
    </form>
</div>


{% endblock  %}